resources:
    med:
        cpu: 4
        mem: 16000
        time: "02:00:00"
    ram:
        cpu: 2
        mem: 8000
        time: "04:00:00"
koverage:
    params:
        jellyfish:
            -C 
            -s 1G 
            -c 2 
            --out-counter-len=2 
            -L 2
        coverm:
            -m count
            -m rpkm
            -m tpm
            -m mean
            -m covered_fraction
            -m variance